<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <description>For payment manifest creation</description>
        <param-name>host_path</param-name>
        <param-value>@host-path@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.saturn.w3c.manifest.PaymentAppMethodService</listener-class>
    </listener>

    <servlet>
        <servlet-name>PaymentAppMethodServlet</servlet-name>
        <servlet-class>org.webpki.saturn.w3c.manifest.PaymentAppMethodServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PaymentManifestServlet</servlet-name>
        <servlet-class>org.webpki.saturn.w3c.manifest.PaymentManifestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentAppMethodServlet</servlet-name>
        <url-pattern>/method</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PaymentManifestServlet</servlet-name>
        <url-pattern>/payment-manifest.json</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

</web-app>
