<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/PAYER_BANK</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <description>In-house Logotype</description>
        <param-name>inhouse_logo</param-name>
        <param-value>@inhouse-logo@</param-value>
    </context-param>

    <context-param>
        <description>UI Stress Test</description>
        <param-name>ui_stress</param-name>
        <param-value>@ui-stress@</param-value>
    </context-param>

    <context-param>
        <description>Authority URL (Payer bank)</description>
        <param-name>authority_url</param-name>
        <param-value>@authority-url@</param-value>
    </context-param>

    <context-param>
        <description>Saturn Logotype</description>
        <param-name>saturn_logotype</param-name>
        <param-value>@saturn-logotype@</param-value>
    </context-param>

    <context-param>
        <description>Support W3C PaymentRequest</description>
        <param-name>use_w3c_payment_request</param-name>
        <param-value>@use-w3c-payment-request@</param-value>
    </context-param>

    <context-param>
        <description>W3C PaymentRequest Manifest URL</description>
        <param-name>w3c_payment_request_url</param-name>
        <param-value>@w3c-payment-request-url@</param-value>
    </context-param>

    <context-param>
        <description>Android WebPKI Version Check</description>
        <param-name>android_webpki_versions</param-name>
        <param-value>@android-webpki-versions@</param-value>
    </context-param>

    <context-param>
        <description>Android Chrome Version Check</description>
        <param-name>android_chrome_version</param-name>
        <param-value>@android-chrome-version@</param-value>
    </context-param>

    <context-param>
        <description>KeyGen2 Base URL</description>
        <param-name>keygen2_base_url</param-name>
        <param-value>@keygen2-base-url@</param-value>
    </context-param>

    <context-param>
        <description>Biometric Support</description>
        <param-name>biometric_support</param-name>
        <param-value>@biometric-support@</param-value>
    </context-param>

    <context-param>
        <description>Where to go after success</description>
        <param-name>merchant_url</param-name>
        <param-value>@merchant-url@</param-value>
    </context-param>

    <context-param>
        <description>Key Password</description>
        <param-name>key_password</param-name>
        <param-value>@key-password@</param-value>
    </context-param>

    <context-param>
        <description>Key Management Key</description>
        <param-name>keyprov_kmk</param-name>
        <param-value>@keyprov-kmk@</param-value>
    </context-param>

    <context-param>
        <description>TLS certificate</description>
        <param-name>server_tls_certificate</param-name>
        <param-value>@server-tls-certificate@</param-value>
    </context-param>

    <context-param>
        <description>Logging</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.saturn.keyprovider.KeyProviderService</listener-class>
    </listener>

    <servlet>
        <servlet-name>KeyProviderServlet</servlet-name>
        <servlet-class>org.webpki.saturn.keyprovider.KeyProviderServlet</servlet-class>
     </servlet>

    <servlet>
        <servlet-name>KeyProviderInitServlet</servlet-name>
        <servlet-class>org.webpki.saturn.keyprovider.KeyProviderInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>WalletUiTestServlet</servlet-name>
        <servlet-class>org.webpki.saturn.keyprovider.WalletUiTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KeyProviderServlet</servlet-name>
        <url-pattern>/getkeys</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KeyProviderInitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WalletUiTestServlet</servlet-name>
        <url-pattern>/walletuitest</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
    
</web-app>
